body { 
  margin: 0;
  font-family: Helvetica;
 }

 h1 {
 	font-weight: 100;
 }

 #logo {
 	height: 150px;
 	width: 150px;
 	border-radius: 50%;
 }

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}
